body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f8;
  transition: 0.3s;
  margin: 0;
}

header {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

.card {
  background: white;
  margin: 30px auto;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dark {
  background: #1e1e1e;
  color: white;
}
